

body {
  background-image: url('../public/images/background3.png');
  object-fit: cover;
  color: white;
}
main {
  color:white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.navbar { 
  background-color: black;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}
.nav-message {
  font-size: small;
  color: lightgrey;
  font-style: italic;
}
.nav-container {
  display: flex;
  flex-direction: row;
}
.nav-logo {
  padding-top: 30px;
}
.nav-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 30px;
}
.button-box {
  display: flex;
  justify-self: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}
.button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: white;
  background-image: url("../public/images/Layer_1.png");
  width: 110px;
  height: 36px;
  background-size: cover;
  background-repeat: no-repeat;
}
.button-text-focus {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: white;
  background-image: url("../public/images/Layer_1.png");
  width: 100px;
  height: 36px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 6px 6px 4px lightblue;
}
.button-text-focustwo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: white;
  background-image: url("../public/images/Layer_1.png");
  width: 100px;
  height: 36px;
  background-size: cover;
  border: 3px solid white;
}
.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.button-login {
  display: flex;
  width: 100%;
  padding-right: 40px;
  padding-top: 17px;
  margin-top: 20px;
  align-items: flex-end;
  flex-direction: column;
}
.button-login-text {
  display: flex;
  color: lightgrey;
  text-align: end;
  padding-right: 4px;
}
.button-icon {
  display: flex;
  width: 50%;
  padding-right: 40px;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.button-icon-text {
  padding-top: 10px;
}
.icon-container {
  display: flex;
  justify-content: center;
}
.threed-image-container {
  display: flex;
  justify-content: center;
}
.container-row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cards-container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
}
.title {
  display: flex;
  justify-content: center;
}
.form-container {
  margin-left: 2rem;
  width:33%;
}
.main { 
  min-height: 2000px;
}
.footer-box {
  display: flex;
}
.footer-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 200px;
}
.footer-icons-title {
  padding-bottom: 60px;
  font-size: 3.5rem;
  font-weight: 100;
}
.footer-icons-names {
  padding-top: 10px;
  font-size: 2.8rem;
  font-weight: 100;
  font-style: italic;
}
.hedera-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
.specific-card {
  padding-left: 3rem;
  padding-right: 3rem;
}
.info-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.nextui-c-bOwhCe-ixxsp-css {
  background-color: white;
}
.nextui-c-hWZRae-bzEnZV-borderWeight-normal {
  width: 1600px;
}