
ul {
  background-color: black;
  color: white;
}
main {
  color:white;
  background-color: black;
  font-family: 'Raleway', sans-serif;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.navbar { 
  background-color: black;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}
.nav-message {
  font-size: small;
  color: lightgrey;
  font-style: italic;
}
.nav-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
}
.nav-logo {
  padding-top: 30px;
}
.nav-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 30px;
}
.button-box {
  display: flex;
  justify-self: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}
.button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: white;
  background-image: url("../public/images/Layer_1.png");
  width: 110px;
  height: 36px;
  background-size: cover;
  background-repeat: no-repeat;
}
.button-text-focus {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: white;
  background-image: url("../public/images/Layer_1.png");
  width: 100px;
  height: 36px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 6px 6px 4px lightblue;
}
.button-container {
  padding-right: 2rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.button-login {
  display: flex;
  width: 100%;
  padding-right: 40px;
  padding-top: 17px;
  margin-top: 20px;
  align-items: flex-end;
  flex-direction: column;
}
.button-login-text {
  display: flex;
  color: lightgrey;
  text-align: end;
  padding-right: 4px;
}
.button-icon {
  display: flex;
  width: 20%;
  padding-right: 30px;
  padding-top: 30px;
  align-items: flex-end;
  flex-direction: column;
}
.button-icon-text {
  padding-top: 10px;
}
.icon-container {
  display: flex;
  justify-content: center;
}
.threed-image-container {
  display: flex;
  justify-content: center;
}
.container-row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cards-container {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 5rem;
}
.title {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  padding-top: 3rem;
}
.form-container {
  padding-top: 5rem;
  margin-left: 2rem;
  width:33%;
}
.footer-box {
  padding-top: 700px;
  background-color: black;
  background-image: url("../public/images/Website_footer2.png");
  height: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.footer-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 200px;
}
.footer-icons-title {
  padding-bottom: 60px;
  font-size: 3.5rem;
  font-weight: 100;
}
.footer-icons-names {
  padding-top: 10px;
  font-size: 2.8rem;
  font-weight: 100;
  font-style: italic;
}
.hedera-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
.specific-card {
  padding-left: 3rem;
  padding-right: 3rem;
}
.info-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.nextui-c-bOwhCe-ixxsp-css {
  background-color: white;
}
.nextui-c-hWZRae-bzEnZV-borderWeight-normal {
  width: 1600px;
}

.homepage {
  height: 1200px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;
}
.intro {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: x-large;
}
.intro-btn {
  height: 4rem;
}
.nextui-c-kRHeuF-ifdaEcH-css.sm {
  flex-direction: column;
}
.three-d-container {
  padding-top: 3rem;
  height: 700px;
}
.tempbackground {
  height:300px;
  background-color: black;
}
.video-box {
  display: flex;
  justify-content: center;
  margin-top: 600px;
}
.middle-box {
  padding: 0 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.middle-text {
  display: flex;
  justify-content: center;
  align-self: center;
  min-width: 50%;
  text-align: center;
  font-size: 1.5rem;
}
.top-picture {
  background-image: url("../public/images/HP5_new.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 600px;
  width: 460px;
}
.bot-picture {
  background-image: url("../public/images/HP6_AR.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 600px;
  width: 460px;
}
.middle-column-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.middle-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
}
.bot-image {
  background-image: url("../public/images/HP5.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 600px;
}
.middle-image {
  background-image: url("../public/images/HP3.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 360px;
  width: 640px;
}
.bottom-text {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
}
.bottom-text-box {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}
.text-box {
  text-align: center;
}
.links-box {
  display: flex;
  justify-content: space-around;
}
.link-box-text {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
}
.link-box {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-text {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.homepage-form {
  padding-top: 1rem;
  width: 30%;
  color: white;
}
